<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800561583172-lhmme8r9l1depqo3ptnnts6gt7hg4v4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800561583172-lhmme8r9l1depqo3ptnnts6gt7hg4v4l</string>
	<key>API_KEY</key>
	<string>AIzaSyA5bksVoWtXjIcmlmfBfjujgAbPnz9d4mg</string>
	<key>GCM_SENDER_ID</key>
	<string>800561583172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>The-Best-Programmer-Ever.Vybz</string>
	<key>PROJECT_ID</key>
	<string>vybz-f8bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>vybz-f8bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800561583172:ios:435d367a47a618ca249811</string>
	<key>DATABASE_URL</key>
	<string>https://vybz-f8bbc.firebaseio.com</string>
</dict>
</plist>